body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
input {
  margin-bottom: 1em;
}
.calc-dashboard {
  display: flex;
}
.calc-input {
  display: flex;
  flex-direction: column;
}
.calc-column {
  margin-right: 2em;
}
.calc-column:last-child {
  margin-left: 2em;
}
